.nav-item {
  color: black;
}

#topheader .navbar-nav li > a {
  text-transform: capitalize;
  color: #333;
  transition: background-color 0.2s, color 0.2s;

  &:hover,
  &:focus {
    background-color: #333;
    color: red;
  }
}

#topheader .navbar-nav li.active > a {
  background-color: #333;
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
  font-size: 25px;
}

.navbar-dark .navbar-nav .active > .nav-link {
  color: blue;
}

.navbar {
  border-bottom: solid;
  border-top: solid;
}

.navbar-toggler {
  background-color: black;
}
