* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.footer {
  text-align: center;
  background-color: #8ea0bd;
  margin-top: 20px;
  padding: 10px;
  color: white;
}
.tableForm {
  display: none;
}

#bTable {
  width: 100%;
}

#bTable th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #8ea0bd;
  color: white;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.homeHeader {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error {
  color: red;
  font-size: 90%;
}

.grayBackground {
  background-color: #ccccff;
  padding: 20px;
}

.blackBackground {
  background-color: black;
  height: 600px;
  line-height: 600px;
}

.blackBackground span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: white;
}

.empTitle {
  color: #c1c1d7;
}

.bgImgCarou1 {
  background-image: url("../images/artist.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bgImgCarou2 {
  background-image: url("../images/paintTools.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bgImgCarou3 {
  background-image: url("../images/tablet.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blogTable {
  border-style: solid;
  padding: 20px;
  margin-bottom: 20px;
}

.dateText {
  font-size: 7px;
}

#image {
  float: right;
}

.commentPara {
  margin-top: 10px;
}
